In [55]:
import pandas as pd

from sklearn.cross_validation import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import  roc_auc_score

In [2]:
data = pd.read_csv('./mcdonalds.csv')

In [4]:
data.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,policies_violated,policies_violated:confidence,city,policies_violated_gold,review,Unnamed: 10
0,679455653,False,finalized,3,2/21/15 0:36,RudeService\nOrderProblem\nFilthy,1.0\n0.6667\n0.6667,Atlanta,NaN,"I'm not a huge mcds lover, but I've been to be...",NaN
1,679455654,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,Terrible customer service. ŒæI came in at 9:30...,NaN
2,679455655,False,finalized,3,2/21/15 0:26,SlowService\nOrderProblem,1.0\n1.0,Atlanta,NaN,"First they ""lost"" my order, actually they gave...",NaN
3,679455656,False,finalized,3,2/21/15 0:27,na,0.6667,Atlanta,NaN,I see I'm not the only one giving 1 star. Only...,NaN
4,679455657,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,"Well, it's McDonald's, so you know what the fo...",NaN

In [5]:
data.shape

(1525, 11)

In [117]:
data_reduced = data[pd.notnull(data['policies_violated'])]

In [118]:
data_reduced.shape

(1471, 12)

In [119]:
data_reduced.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,policies_violated,policies_violated:confidence,city,policies_violated_gold,review,Unnamed: 10,rude
0,679455653,False,finalized,3,2/21/15 0:36,RudeService\nOrderProblem\nFilthy,1.0\n0.6667\n0.6667,Atlanta,NaN,"I'm not a huge mcds lover, but I've been to be...",NaN,1
1,679455654,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,Terrible customer service. ŒæI came in at 9:30...,NaN,1
2,679455655,False,finalized,3,2/21/15 0:26,SlowService\nOrderProblem,1.0\n1.0,Atlanta,NaN,"First they ""lost"" my order, actually they gave...",NaN,0
3,679455656,False,finalized,3,2/21/15 0:27,na,0.6667,Atlanta,NaN,I see I'm not the only one giving 1 star. Only...,NaN,0
4,679455657,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,"Well, it's McDonald's, so you know what the fo...",NaN,1

In [120]:
data_reduced["rude"] = data_reduced["policies_violated"].str.contains("RudeService").apply(lambda i: int(i))

In [121]:
data_reduced.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,policies_violated,policies_violated:confidence,city,policies_violated_gold,review,Unnamed: 10,rude
0,679455653,False,finalized,3,2/21/15 0:36,RudeService\nOrderProblem\nFilthy,1.0\n0.6667\n0.6667,Atlanta,NaN,"I'm not a huge mcds lover, but I've been to be...",NaN,1
1,679455654,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,Terrible customer service. ŒæI came in at 9:30...,NaN,1
2,679455655,False,finalized,3,2/21/15 0:26,SlowService\nOrderProblem,1.0\n1.0,Atlanta,NaN,"First they ""lost"" my order, actually they gave...",NaN,0
3,679455656,False,finalized,3,2/21/15 0:27,na,0.6667,Atlanta,NaN,I see I'm not the only one giving 1 star. Only...,NaN,0
4,679455657,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,"Well, it's McDonald's, so you know what the fo...",NaN,1

In [29]:
X = data_reduced['review']
y = data_reduced['rude']

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [93]:
cv = CountVectorizer()

In [94]:
X_train_dtm = cv.fit_transform(X_train)

In [95]:
X_test_dtm = cv.transform(X_test)

In [96]:
print(X_train_dtm.shape[1])

7300

In [51]:
nb = MultinomialNB()

In [52]:
nb.fit(X_train_dtm, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [53]:
pred_proba = nb.predict_proba(X_test_dtm)[:, 1]

In [54]:
roc_auc_score(y_test, pred_proba)

0.84196471149260832

In [56]:
logreg = LogisticRegression()

In [57]:
logreg.fit(X_train_dtm, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr',
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0)

In [58]:
pred_proba_lr = logreg.predict_proba(X_test_dtm)[:, 1]

In [59]:
roc_auc_score(y_test, pred_proba_lr)

0.8233985058019393

NB is better

In [101]:
def tokenize_test(vect):
    
    X_train_dtm = vect.fit_transform(X_train)
    X_test_dtm = vect.transform(X_test)
    
    print(X_train_dtm.shape[1])
    
    nb = MultinomialNB()
    nb.fit(X_train_dtm, y_train)

    y_pred_proba = nb.predict_proba(X_test_dtm)[:,1]

    print("AUC: ", roc_auc_score(y_test, y_pred_proba))

In [102]:
tokenize_test(CountVectorizer(ngram_range=(1, 2)))

57936
AUC:  0.818375457002

In [103]:
tokenize_test(CountVectorizer(ngram_range=(1, 2), max_df=0.5))

57927
AUC:  0.824876808139

In [104]:
tokenize_test(CountVectorizer(ngram_range=(1, 2), max_df=0.8))

57934
AUC:  0.820378318232

In [105]:
tokenize_test(CountVectorizer(max_df=0.8))

7298
AUC:  0.841996502941

In [106]:
tokenize_test(CountVectorizer(max_df=0.5))

7291
AUC:  0.844794150374

In [107]:
tokenize_test(CountVectorizer(max_df=0.8, min_df=2))

3498
AUC:  0.84419011286

In [108]:
tokenize_test(CountVectorizer(lowercase=False))

8742
AUC:  0.840375139088

In [109]:
tokenize_test(CountVectorizer(token_pattern='(?u)\\b\\w\\w\\w+\\b'))

7127
AUC:  0.849833094897

In [115]:
tokenize_test(CountVectorizer(token_pattern='(?u)\\b\\w\\w\\w+\\b', max_df=0.5))

7123
AUC:  0.850230487999

best

Task 7

In [127]:
data_reduced["review_city"] = data_reduced["review"].str.cat(data_reduced["city"], sep=" ", na_rep="na")

In [130]:
X = data_reduced["review_city"]
y = data_reduced["rude"]

In [131]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [132]:
tokenize_test(CountVectorizer(token_pattern='(?u)\\b\\w\\w\\w+\\b', max_df=0.5))

7125
AUC:  0.850389445239

In [134]:
tokenize_test(CountVectorizer())

7303
AUC:  0.842568749007

    I don't see any AUC change