# Home work week 1 Jaros≈Çaw Kulesza

## Imports

In [1]:
from __future__ import print_function

In [2]:
import json

import pandas as pd

from sklearn.cross_validation import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

## Task 1

In [3]:
data_frame_csv = pd.read_csv("./yelp.csv")[["stars", "text"]]

In [8]:
from io import StringIO

data_json = []
with open('./yelp.json') as data_file:
    for line in data_file.readlines():
        obj = json.load(StringIO(line))
        data_json.append((obj['stars'], obj['text']))
        
data_frame_json = pd.DataFrame(data_json, columns=["stars", "text"])

In [9]:
print(data_frame_csv.shape)
print(data_frame_json.shape)

(10000, 2)
(10000, 2)

In [10]:
#data = data_frame_csv

# optional
data = data_frame_json

## Task 2

In [11]:
filtered_data = data[(data.stars==1)|(data.stars==5)]

In [12]:
filtered_data.head()

   stars                                               text
0      5  My wife took me here on my birthday for breakf...
1      5  I have no idea why some people give bad review...
3      5  Rosie, Dakota, and I LOVE Chaparral Dog Park!!...
4      5  General Manager Scott Petello is a good egg!!!...
6      5  Drop what you're doing and drive here. After I...

## Task 3

In [13]:
X = filtered_data.text

In [14]:
y = filtered_data.stars

In [15]:
X.shape

(4086,)

In [16]:
y.shape

(4086,)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
print(X_train.shape)
print(X_test.shape)

(3064,)
(1022,)

## Task 4

In [18]:
vect = CountVectorizer()
X_train_dtm = vect.fit_transform(X_train)
X_test_dtm = vect.transform(X_test)

## Task 5

In [19]:
nb = MultinomialNB()
nb.fit(X_train_dtm, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [20]:
y_pred_class = nb.predict(X_test_dtm)

In [21]:
metrics.accuracy_score(y_test, y_pred_class)

0.91878669275929548

In [22]:
metrics.confusion_matrix(y_test, y_pred_class)

array([[126,  58],
       [ 25, 813]])

## Task 6

In [23]:
y_test.value_counts().head(1) / len(y_test)

5    0.819961
dtype: float64

## Task 7

In [24]:
nb.feature_count_

array([[ 26.,   4.,   1., ...,   0.,   0.,   0.],
       [ 39.,   5.,   0., ...,   1.,   1.,   1.]])

In [25]:
X_train_tokens = vect.get_feature_names()

In [26]:
token_counts = pd.DataFrame({'token':X_train_tokens, 'one':nb.feature_count_[0, :], 'five':nb.feature_count_[1, :]})

In [27]:
token_counts['one'] = token_counts.one + 1
token_counts['five'] = token_counts.five + 1

In [28]:
token_counts['one_ratio'] = token_counts.one / token_counts.five
token_counts['five_ratio'] = token_counts.five / token_counts.one

In [29]:
# most predictive tokens of 1 star
token_counts.sort('one_ratio', ascending=False).head()

       five  one         token  one_ratio  five_ratio
14110     1   17   staffperson         17    0.058824
12172     1   14       refused         14    0.071429
4538      2   24    disgusting         12    0.083333
5780      1   11        filthy         11    0.090909
15649     1    9  unacceptable          9    0.111111

In [30]:
# most predictive tokens of 5 star
token_counts.sort('five_ratio', ascending=False).head()

       five  one        token  one_ratio  five_ratio
5596    193    2    fantastic   0.010363   96.500000
10949   245    3      perfect   0.012245   81.666667
16751    62    1          yum   0.016129   62.000000
5643    345    7     favorite   0.020290   49.285714
10527    49    1  outstanding   0.020408   49.000000

## Task 8

In [31]:
for doc in X_test[y_test < y_pred_class][:5]:
    print(doc)
    print("--------------")

This has to be the worst restaurant in terms of hygiene. Two of my friends had food -poisoning after having dinner here. The food is just unhealthy with tons of oil floating on the top of curries, and I am not sure if any health/hygiene code is followed here.
The service is poor and the information on its website is incorrect, the owner does not allow dine-in after 9 or 10 even though it says that the restaurant is open till 11.

One night I saw the owner cleaning the place without gloves and she was nice enough to give us a to-go parcel without cleaning her hands (great example to the servers!). I had a peek inside the kitchen when the door was ajar, and it definitely looked dirty.

I have been a lot of hole-in-the-wall places around this restaurant, including Haji Baba, the Vietnamese place and others, but neither any of my friends nor I have fallen sick coz of the food. If you need a spicy-food fix, i strongly recommend you do not try this place, lest you want a visit to the doctor the very next day.
--------------
If you like the stuck up Scottsdale vibe this is a good place for you. The food isn't impressive. Nice outdoor seating.
--------------
I'm sorry to be what seems to be the lone one star review.  Either I got there on the worst day in their history, or everyone drank the Koolaid, or I just have different expectations and taste buds.
It seems like a great idea.  It's a build your own burger joint, $7.00 gets you a cooked to order burger with one cheese, up to 4 toppings, and 2 sauces with fries or onion rings-or some other choices.  They also claim that the beef is local, hormone free, etcetera....

I chose a rare burger with American, grilled onions, sauteed mushrooms. tomato and lettuce, with mayo and mustard on a potato bun.  I added bacon for a dollar.

First, let me point out that if you are in a hurry, DON'T GO HERE TO EAT.  I waited exactly 39 minutes for my food. This would not be a big deal if:
1.  I had been warned before they ran my credit card--what if I only had 30 minutes for lunch??
2. They had places to sit but it's tiny and full.
3.  They had magazines, a jukebox, ANYTHING to entertain you for 39 minutes.  You can't even get your drink early to sip on that.

At the 30 minute mark, I'm ready to eat cardboard with a little ketchup on it, so maybe they make you wait so everything tastes even better?
Anyway, before my burger comes up, I notice that the lady behind the counter is saying that the orders overwhelmed the kitchen.  I look in the kitchen---they have ONE GUY TRYING TO DO ALL THIS??????   He'd better be getting a share of the profits!!!!!  Now I'm jsut feeling really bad for this guy back there.

I finally get my burger!  YAY!!  I'm SO excited!  All those 4 and 5 star reviews!  I take a bite and....the patty shoots out the other side of the bun like it had been shot out of a cannon.
WTH?  I look at the patty.  It's clean as a whistle. I mean there is no mayo or mustard or cheese smeared on the patty.  I turn it over and it slides out of my fingers back into the basket.  The other side is clean too.  The freakin' burger was so greasy, it slid all over the place!  Then a greasy glop of what must have  been the mushrooms and onions slid out.  Still not seeing any cheese, mayo, or mustard anywhere.  Just oil.  Tons and tons of oil.  I open the bun,  On one side is a heavily oiled slick of lettuce glued to the bun by (I am guessing) a slice of cheese.  The other side of the bun has some mayo and mustard residue--and more oil.  I'm grossed out, but hungry.  I take a bite.  It's not rare,  It's well done and oddly, tastes very faintly of liver.  BTW, remember the bacon I paid a dollar for?  Not there.  I'm really puzzled that instead of cheese. or beef, or SOMETHING, I just taste that faint livery taste. So I take another bite.There isn't even any salt or pepper, or anything on the burger patty.  This is perhaps, the worst grade of meat available for human consumption.  I take a third bite because that second bite brought back a memory of when I worked for a meat company here in town.  Now I recognize the flavor.  I'm not saying that what I ate that day at Two Hippies was old dairy cow, but that's EXACTLY what it tasted like.

At this point, I turn to the fries.  The are shriveled and DARK and taste like they've been fried and then microwaved.

I couldn't get out of there fast enough!  Forget my danged dollar!  just get me in the car!

Exactly one hour and 20 minutes later, I had vicious diarrhea

I haven't had that trouble even with eating junk food at the fair!

No.  NO.  A thousand times NO!

Red Robin is my next burger stop.  Period
--------------
Went last night to Whore Foods to get basics to make pizza with, most clutch to the process was a three pack of yeast. Low and behold, the dirty hippie kids they have working there again didn't put something in the bag.

And this time it was the yeast.

I love the food there, but the employees are nothing more than entitled hippie kids from Scottsdale who can't be bothered to do their goddamn jobs! I am so sick of this crap with this corporation. Maybe its a Phoenix thing, or maybe its the hiring and firing processes of Whore Foods, but I am done shopping at any Whore Foods. In a place like Phoenix, where you have alternatives such as Sprouts, you'd think Whore Foods would smarten up.

Or when you try to ask someone who works here where something is, and they just walk by with their nose high in the air. I understand its important to show your fellow dirt merchants that you're a super star, but I don't work with you, I contribute to your salary and over inflated set of benefits for a grocery clerk, so do your goddamn job. Useless little girl in need of a shower and orthodontist.

But alas, Whore Foods and its dirty hippie employees have alienated yet another person with a job and a degree into hating everything that place stands for.

Oh yea, one other thing, take the concealed firearm prohibition off of your stores. It didn't stop Jared Loughner from doing something horrid, and all it does is alienate law abiding citizens from their Constitutional rights. I understand you think that only parts of the Constitution should apply, but honestly I think you need to pull your collective heads out of your ass and take a shower.

Useless motherf*&#$@s!
--------------
I found Lisa G's while driving through phoenix with a friend. The exterior looked promising and we prepared ourselves for a treat. We were in for a a shock! We ordered the antipasto plate and while there were serious issues with it, it turned out to be the best thing we were served. I ordered the chicken rolatini (the special of the day) and it was just plain bad! The chicken was dry and under seasoned, the Rosemary potatoes were soggy  and the veggie medley  (squash, corn, green beans, etc.) was over cooked and the juices spilled over into the potatoes. It was one of the worst $17 meals that I have ever had! My friend ordered the veggie salad and it was one literal hot mess. Just horrible food! I see that others had the mini burgers and bowl of balls and found them to be tasty. I wish I had ordered those. As it is this is one place I would never revisit or recommend to a friend!
--------------

In [32]:
for doc in X_test[y_test > y_pred_class][:5]:
    print(doc)
    print("--------------")

I now consider myself an Arizonian. If you drive a lot on the 101 or 51 like I do, you'll get your fair share of chips on your windshield. You'll also have to replace a windshield like I had to do just recently. Apparently, chips and cracking windshields  is common in Arizona. In fact, I seem to recall my insurance agent telling me that insurance companies must provide this coverage in Arizona.

I had a chip repaired about a year ago near the very bottom of the windshield. Just recently a small, very fine crack started traveling north on the windshield from the repaired chip (a different vendor repaired the chip). I called these guys over to my house and they said it was too long to fix, so they replaced the whole windshield the next day.

What great service, they come out to your residence or place of business to repair or replace your windshield.
--------------
This is by far my favourite department store, hands down. I have had nothing but perfect experiences in this store, without exception, no matter what department I'm in. The shoe SA's will bend over backwards to help you find a specific shoe, and the staff will even go so far as to send out hand-written thank you cards to your home address after you make a purchase - big or small. Tim & Anthony in the shoe salon are fabulous beyond words!

I am not completely sure that I understand why people complain about the amount of merchandise on the floor or the lack of crowds in this store. Frankly, I would rather not be bombarded with merchandise and other people. One of the things I love the most about Barney's is not only the prompt attention of SA's, but the fact that they aren't rushing around trying to help 35 people at once. The SA's at Barney's are incredibly friendly and will stop to have an actual conversation, regardless or whether you are purchasing something or not. I have also never experienced a "high pressure" sale situation here.

All in all, Barneys is pricey, and there is no getting around it. But, um, so is Neiman's and that place is a crock. Anywhere that ONLY accepts American Express or their charge card and then treats you like scum if you aren't carrying neither is no place that I want to spend my hard earned dollars. Yay Barneys!
--------------
Since I have ranted recently on poor customer service, and in the spirit of balance, here is a shining example of how easy it really is.

Late last summer  I came home and was shocked to see two of my sunscreens looking quite vandalized. Upon further inspection, it appeared that while using a back mounted leaf blower, one of the landscape crew had brushed against them. The exhaust pipe must have ripped and burned the screen material as well. It was quite the nasty burned melted scar.

 After staring at it for several hours, I realized there was no virgin Mary, no Jesus, hell it just looked like burned grilled cheese without any deity or lesser apparitions whatsoever, regardless of the angle or my squint. So deciding there was no money to made on eBay, I set out to get them repaired.

Did some online searching and decided to call AmeriZona. I explained the situation and was told they could repair them, but I would have to bring them in. These are some pretty large sun screens mind you and packing them into the convertible would have been a challenge.

While pondering what to do the person helping me on the phone asked me if I could hold on. I could tell it was one of those thinking on your feet light bulb went off type can you hold requests.

She came back on the phone, informed me that she had a crew that was working close by and that she would ask one of the crew to swing by and pick up the screens for repair. She could not promise when they would be repaired, but for that convenience alone I was on board. She had already quoted me the price to repair the screens, and it was very reasonable considering some other online comparisons.

Someone showed up within a few hours to pick up the screens. He could not have been more accommodating, and it was obvious this guy had been working all day and was on his way home.

A few days later, Mark  phoned me to tell me my screens were ready and to tell me he was going to drop them off on his way home! Needless to say Mark was also very pleasant to deal with. I believe he was at the time the sales manager.

When he arrived, the screens looked great, matched the color of the others, even with the sun bleaching over several years. He even offered to put them in!

This experience was way beyond any customer service expectations. No extra charges for any of the above and beyond the call of duty efforts. Outstanding, and quite refreshing.
--------------
This is a must try for any Mani Pedi fan. I use to drive to Scottsdale for all of my services until I found this spot. Get the pedi, no metal file pedi once - and you will NEVER go any where else. Have fun. I do..Customer service - top end. Thanks
--------------
I`ve had work done by this shop a few times thruoghout the past few years. My latest experience was when my sons car broke its timing belt and needed substantial repairs. Bob informed us that he could move the car out of the way in his lot to be safely stored until we decided whether we wanted to fix it or not. This is just one of the reasons why I`ll always bring my business to him.
--------------

In [33]:
# I think in this exaples are many words with opposite meaning. So in posts with one star are many words like: like, very, fine, good.
# In posts with five stars are many words with negative meaning: never, broke, vandalized.
# And machine had problems with irony etc.

## Task 9

In [34]:
X_all = data.text
y_all = data.stars

In [35]:
X_train_all, X_test_all, y_train_all, y_test_all = train_test_split(X_all, y_all, random_state=1)

In [36]:
vect_all = CountVectorizer()
X_train_all_dtm = vect_all.fit_transform(X_train_all)
X_test_all_dtm = vect_all.transform(X_test_all)

In [37]:
nb_all = MultinomialNB()
nb_all.fit(X_train_all_dtm, y_train_all)
y_pred_class_all = nb_all.predict(X_test_all_dtm)

In [38]:
metrics.accuracy_score(y_test_all, y_pred_class_all)

0.47120000000000001

In [39]:
y_test_all.value_counts().head(1) / len(y_test_all)

4    0.3536
dtype: float64

In [40]:
metrics.confusion_matrix(y_test_all, y_pred_class_all)

array([[ 55,  14,  24,  65,  27],
       [ 28,  16,  41, 122,  27],
       [  5,   7,  35, 281,  37],
       [  7,   0,  16, 629, 232],
       [  6,   4,   6, 373, 443]])

Comment: NaiveBayes had problems with classification all star ratings (only 47% accuracy). System is very confused. This is visible in confusion matrix. Especialy right side of matrix.

In [60]:
X_train_tokens = vect_all.get_feature_names()

In [106]:

def counter():
    res = {'token':X_train_tokens}
    for i, c in enumerate(nb_all.classes_):
        res[str(c)] = np.delete(nb_all.feature_count_[i, :], i)
        print(res[str(c)].shape)
    return res

In [107]:
counter()

(25796,)
(25796,)
(25796,)
(25796,)
(25796,)

{'1': array([ 5.,  0.,  1., ...,  0.,  0.,  0.]),
 '2': array([ 28.,   0.,   0., ...,   0.,   0.,   0.]),
 '3': array([ 30.,   2.,   0., ...,   0.,   0.,   0.]),
 '4': array([ 49.,   3.,   1., ...,   1.,   0.,   1.]),
 '5': array([ 33.,   7.,   0., ...,   0.,   1.,   0.]),
 'token': ['00',
  '000',
  '007',
  '00a',
  '00am',
  '00pm',
  '01',
  '02',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '0buxoc0crqjpvkezo3bqog',
  '0l',
  '0tzg',
  '10',
  '100',
  '1000',
  '1001',
  '100lbs',
  '100s',
  '100th',
  '101',
  '102',
  '102729',
  '1030',
  '104',
  '105',
  '1070',
  '107f',
  '108',
  '109',
  '10am',
  '10ish',
  '10k',
  '10min',
  '10mins',
  '10minutes',
  '10oz',
  '10p',
  '10pm',
  '10th',
  '10x',
  '10yo',
  '11',
  '110',
  '1100',
  '111',
  '112',
  '113',
  '1130',
  '114',
  '115',
  '116',
  '117',
  '118',
  '11a',
  '11am',
  '11p',
  '11pm',
  '11year',
  '12',
  '120',
  '1200',
  '12000',
  '1202',
  '123',
  '124',
  '128i',
  '12a',
  '12am',
  '12k',
  '12oz',
  '12pm',
  '12th',
  '13',
  '130',
  '1300',
  '13331',
  '13th',
  '13yr',
  '14',
  '140',
  '147',
  '149',
  '15',
  '150',
  '1500',
  '150mm',
  '157',
  '15am',
  '15ft',
  '15min',
  '15mins',
  '15pm',
  '15th',
  '16',
  '160',
  '1600',
  '162',
  '165',
  '16oz',
  '16th',
  '16thh',
  '17',
  '175',
  '17cents',
  '17p',
  '17th',
  '18',
  '180',
  '1800',
  '184',
  '1892',
  '1895',
  '1899',
  '18th',
  '19',
  '1900',
  '1910',
  '1913',
  '1920',
  '1920s',
  '1926',
  '1928',
  '1929',
  '1930s',
  '1940',
  '19485',
  '1950',
  '1950s',
  '1952',
  '1955',
  '1956',
  '1960',
  '1961',
  '1962',
  '1965',
  '1968',
  '1969',
  '1970',
  '1970s',
  '1973',
  '1978',
  '1980',
  '1980s',
  '1987',
  '199',
  '1990',
  '1990s',
  '1991',
  '1992',
  '1993',
  '1994',
  '1995',
  '1996',
  '1997',
  '1998',
  '1999',
  '19chptx8ahwztpc5xiarfq',
  '19th',
  '1am',
  '1b',
  '1cent',
  '1hour',
  '1jzambgdea9yyvasa8rukq',
  '1k',
  '1min',
  '1pm',
  '1st',
  '1star',
  '20',
  '200',
  '2000',
  '2001',
  '2002',
  '2003',
  '2004',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '200lb',
  '200lbs',
  '201',
  '2010',
  '2011',
  '2012',
  '2013',
  '202',
  '20mbs',
  '20min',
  '20oz',
  '20pm',
  '20s',
  '20th',
  '20x',
  '21',
  '21st',
  '22',
  '220',
  '2240',
  '22oz',
  '23',
  '23a',
  '23rd',
  '24',
  '2400',
  '24hours',
  '24hr',
  '24hrs',
  '24st',
  '24th',
  '25',
  '250',
  '2500hd',
  '25b',
  '25th',
  '26',
  '2600',
  '2608',
  '2669',
  '26oz',
  '26th',
  '27',
  '270',
  '272',
  '275',
  '27th',
  '28',
  '284',
  '2852',
  '29',
  '2939',
  '299',
  '29th',
  '2am',
  '2k',
  '2lb',
  '2mbps',
  '2nd',
  '2pac',
  '2pm',
  '2rd',
  '2wice',
  '2x',
  '2x4',
  '2xu',
  '30',
  '300',
  '3000',
  '30a',
  '30am',
  '30ish',
  '30k',
  '30mins',
  '30p',
  '30pm',
  '30s',
  '30something',
  '30th',
  '30x',
  '31',
  '311',
  '312',
  '316',
  '32',
  '320',
  '325',
  '32nd',
  '32oz',
  '33',
  '33lb',
  '33rd',
  '34',
  '3400',
  '341',
  '35',
  '350',
  '3500',
  '350ib',
  '35c',
  '35th',
  '36',
  '360',
  '365',
  '37',
  '370',
  '38',
  '39',
  '399',
  '39th',
  '3am',
  '3d',
  '3k',
  '3lb',
  '3lbs',
  '3oz',
  '3p',
  '3pm',
  '3rd',
  '3s',
  '3tacos',
  '3x',
  '40',
  '400',
  '4000',
  '40ish',
  '40k',
  '40min',
  '40pm',
  '40s',
  '40th',
  '41',
  '4113416766',
  '42',
  '420',
  '43',
  '43rd',
  '44',
  '4458',
  '44oz',
  '44th',
  '45',
  '450',
  '45min',
  '45pm',
  '45sec',
  '46',
  '4655',
  '47',
  '470',
  '475',
  '48',
  '480',
  '48th',
  '49',
  '49ers',
  '49th',
  '4am',
  '4b',
  '4cxbhzxxtmexf9krjmfviq',
  '4f',
  '4ish',
  '4k',
  '4oz',
  '4p',
  '4peaks',
  '4pm',
  '4stars',
  '4th',
  '4ths',
  '4x',
  '50',
  '500',
  '500sq',
  '50cents',
  '50ft',
  '50s',
  '51',
  '5130',
  '51st',
  '52',
  '5231',
  '53',
  '53pm',
  '54',
  '547',
  '55',
  '56',
  '57',
  '57th',
  '58',
  '59',
  '59th',
  '5am',
  '5gb',
  '5ish',
  '5k',
  '5min',
  '5nzmttmomgj_svixktm51q',
  '5oz',
  '5p',
  '5pm',
  '5s',
  '5star',
  '5stars',
  '5th',
  '5yo',
  '60',
  '600',
  '6000',
  '602',
  '60f',
  '60s',
  '61',
  '61st',
  '62',
  '623',
  '63',
  '630am',
  '64',
  '64oz',
  '64th',
  '65',
  '66',
  '6600',
  '67',
  '68',
  '69',
  '696',
  '6am',
  '6ivet3g9ew',
  '6k',
  '6oz',
  '6p',
  '6pm',
  '6th',
  '6ths',
  '70',
  '700',
  '7000',
  '70s',
  '71',
  '72',
  '730',
  '74',
  '747',
  '74th',
  '75',
  '750',
  '755891987',
  '757',
  '75cents',
  '767',
  '777',
  '7807',
  '79',
  '7a',
  '7am',
  '7ish',
  '7p',
  '7pm',
  '7th',
  '80',
  '800',
  '80f',
  '80s',
  '80th',
  '81',
  '83',
  '832',
  '8330',
  '83rd',
  '84',
  '85',
  '85340',
  '86',
  '87',
  '88',
  '89',
  '8am',
  '8inch',
  '8ish',
  '8oz',
  '8pc',
  '8pm',
  '8ppl',
  '8th',
  '8v',
  '8yo',
  '90',
  '9000',
  '90min',
  '90minute',
  '90s',
  '91',
  '911',
  '92',
  '92nd',
  '93',
  '94',
  '9495',
  '95',
  '96',
  '97',
  '977',
  '98',
  '99',
  '99cent',
  '99th',
  '9am',
  '9ers',
  '9ga',
  '9ish',
  '9oz',
  '9p',
  '9pm',
  '9th',
  '9yo',
  '_4xhxtuykqnyphmylm',
  '______',
  '_______',
  '_______________',
  '____berto',
  '_accommodating',
  '_affordable',
  '_c',
  '_gyib8ea4hdfylss17zc_g',
  '_l7o1zhq9edno1lhv9b10g',
  '_reasonable',
  '_she',
  '_third_',
  '_us_',
  '_very',
  'a1',
  'aa',
  'aaa',
  'aaaaaalright',
  'aaammmazzing',
  'aaand',
  'aah',
  'aand',
  'aaron',
  'aarp',
  'ab',
  'aback',
  'abacus',
  'abandon',
  'abandoned',
  'abba',
  'abbaye',
  'abbey',
  'abbreviate',
  'abbreviated',
  'abbreviations',
  'abby',
  'abc',
  'abdomen',
  'abe',
  'aberration',
  'abhor',
  'abides',
  'abilities',
  'ability',
  'abita',
  'able',
  'abnormally',
  'abode',
  'abogado',
  'abou',
  'abound',
  'about',
  'above',
  'abridged',
  'abroad',
  'abrupt',
  'abruptly',
  'abs',
  'absence',
  'absent',
  'absinthe',
  'absoloutely',
  'absolut',
  'absolute',
  'absolutely',
  'absolutley',
  'absolutly',
  'absorb',
  'absorbed',
  'absorption',
  'abstain',
  'abstained',
  'abstract',
  'absurd',
  'absurdly',
  'abt',
  'abuelita',
  'abuelo',
  'abuelos',
  'abundance',
  'abundant',
  'abundantly',
  'abuse',
  'abused',
  'abusive',
  'abysmal',
  'ac',
  'acacia',
  'academy',
  'acadia',
  'acai',
  'acapulco',
  'accent',
  'accented',
  'accents',
  'accept',
  'acceptable',
  'accepted',
  'accepting',
  'accepts',
  'accesible',
  'accesories',
  'access',
  'accessbile',
  'accessed',
  'accessibility',
  'accessible',
  'accessibly',
  'accessories',
  'accessorize',
  'accessory',
  'accident',
  'accidental',
  'accidentally',
  'accidentily',
  'accidently',
  'accidents',
  'acclaimed',
  'acclimated',
  'accolades',
  'accommodate',
  'accommodated',
  'accommodates',
  'accommodating',
  'accommodation',
  'accommodations',
  'accomodate',
  'accomodated',
  'accomodates',
  'accomodating',
  'accomodation',
  'accomodations',
  'accompanied',
  'accompanies',
  'accompaniment',
  'accompaniments',
  'accompany',
  'accompanying',
  'accomplice',
  'accomplished',
  'accomplishment',
  'accomplishments',
  'according',
  'accordingly',
  'account',
  'accountability',
  'accountant',
  'accounting',
  'accounts',
  'accoutrement',
  'accoutrements',
  'accredited',
  'accross',
  'accumulated',
  'accuracy',
  'accurate',
  'accurately',
  'accusation',
  'accused',
  'accustom',
  'accustomed',
  'ace',
  'aces',
  'acetone',
  'ache',
  'achieve',
  'achieved',
  'achievement',
  'achieves',
  'achieving',
  'acid',
  'acidic',
  'acknowledge',
  'acknowledged',
  'acknowledgement',
  'acknowledging',
  'acknowledgment',
  'ackward',
  'acme',
  'acne',
  'acommodations',
  'acoustic',
  'acoustician',
  'acoustics',
  'acquaintance',
  'acquaintence',
  'acquire',
  'acquired',
  'acquisition',
  'acres',
  'acrid',
  'acrimonious',
  'across',
  'acrylic',
  'acrylics',
  'act',
  'actaully',
  'acted',
  'acting',
  'action',
  'actions',
  'active',
  'actively',
  'activism',
  'activities',
  'activity',
  'actor',
  'actors',
  'actress',
  'acts',
  'actual',
  'actuality',
  'actually',
  'actuators',
  'actully',
  'acuity',
  'acupuncturist',
  'acxupuncturist',
  'acy',
  'ad',
  'ada',
  'adam',
  'adams',
  'adapted',
  'adaptive',
  'adaquate',
  'adaquet',
  'add',
  'addage',
  'addd',
  'added',
  'addict',
  'addicted',
  'addicting',
  'addiction',
  'addictions',
  'addictive',
  'addicts',
  'addidas',
  'adding',
  'addition',
  'additional',
  'additionally',
  'additions',
  'additive',
  'additives',
  'address',
  'addressed',
  'addressing',
  'adds',
  'addtl',
  'adelman',
  'adequate',
  'adequately',
  'adhere',
  'adhered',
  'adherence',
  'adhesive',
  'adidas',
  'adios',
  'adjacent',
  'adjective',
  'adjectives',
  'adjoining',
  'adjunct',
  'adjust',
  'adjusted',
  'adjustment',
  'adjustments',
  'administration',
  'administrative',
  'administrators',
  'admirable',
  'admire',
  'admired',
  'admiring',
  'admission',
  'admissions',
  'admit',
  'admits',
  'admitted',
  'admittedly',
  'admitting',
  'admonishment',
  'ado',
  'adobada',
  'adobe',
  'adobo',
  'adolescence',
  'adolescent',
  'adopt',
  'adopted',
  'adopting',
  'adoption',
  'adorable',
  'adorably',
  'adorama',
  'adoration',
  'adore',
  'adored',
  'adores',
  'adorn',
  'adorned',
  'adovada',
  'adquate',
  'adrenaline',
  'adriana',
  'adrianne',
  'adriatica',
  'ads',
  'adult',
  'adulthood',
  'adults',
  'adults_night_out',
  'advance',
  'advanced',
  'advancing',
  'advantage',
  'advantages',
  'advent',
  'adventure',
  'adventurer',
  'adventures',
  'adventuresome',
  'adventurous',
  'adventurousness',
  'adverse',
  'adversity',
  'advertise',
  'advertised',
  'advertisement',
  'advertises',
  'advertising',
  'advertisments',
  'advertized',
  'advice',
  'advise',
  'advised',
  'adviser',
  'advising',
  'advisor',
  'advocate',
  'advocated',
  'ae',
  'aea',
  'aeg',
  'aegean',
  'aerators',
  'aerobic',
  'aerobics',
  'aeropostale',
  'aeropress',
  'aesthetic',
  'aesthetically',
  'aesthetician',
  'aestheticians',
  'aesthetics',
  'afar',
  'affair',
  'affect',
  'affected',
  'affectionately',
  'affects',
  'afficianados',
  'afficienandos',
  'affiliate',
  'affiliated',
  'affirming',
  'affix',
  'affliction',
  'affluent',
  'affogato',
  'afford',
  'affordable',
  'affordably',
  'affords',
  'affront',
  'aficionado',
  'aficionados',
  'afloat',
  'aforementioned',
  'afoul',
  'afraid',
  'africa',
  'african',
  'afront',
  'after',
  'afterall',
  'afterglow',
  'afterhours',
  'afternoon',
  'afternoons',
  'aftertaste',
  'afterthought',
  'afterward',
  'afterwards',
  'afterwords',
  'aftr',
  'again',
  'against',
  'agape',
  'agave',
  'agaves',
  'age',
  'aged',
  'agedashi',
  'agency',
  'agenda',
  'agent',
  'agents',
  'ages',
  'aggravated',
  'aggressive',
  'aggressively',
  'aging',
  'ago',
  'agonizing',
  'agony',
  'agree',
  'agreeable',
  'agreed',
  'agreeing',
  'agreement',
  'agrees',
  'agritopia',
  'agua',
  'aguachile',
  'aguas',
  'aguila',
  'agwa',
  'ah',
  'ahab',
  'ahahah',
  'ahead',
  'ahem',
  'ahh',
  'ahhh',
  'ahhhh',
  'ahhhhh',
  'ahhhhhh',
  'ahhhhs',
  'ahi',
  'ahold',
  'ahwatukee',
  'ai',
  'aia',
  'aid',
  'aide',
  'aiding',
  'aiello',
  'aight',
  'aiight',
  'ails',
  'aim',
  'aimed',
  'aiming',
  'aimlessly',
  'aims',
  'ain',
  'aint',
  'aioli',
  'aiptasia',
  'air',
  'airbrush',
  'airconditioned',
  'aircraft',
  'aired',
  'airfare',
  'airless',
  'airline',
  'airlines',
  'airpark',
  'airplane',
  'airplanes',
  'airport',
  'airports',
  'airwarys',
  'airways',
  'airy',
  'aisde',
  'aisle',
  'aisles',
  'aj',
  'ajar',
  'aji',
  'ajillo',
  'ajo',
  'ajos',
  'ajs',
  'ajvar',
  'aka',
  'akai',
  'aked',
  'akin',
  'akitas',
  'aknowledge',
  ...]}

In [103]:
token_counts = pd.DataFrame(counter())

ValueError: arrays must all be same length

In [94]:
token_counts.head()

    1   2   3   4   5 token     sum
0  19  28  30  49  33    00  846849
1   5   2   2   3   7   000  846849
2   0   0   0   1   0   007  846849
3   1   0   0   0   0   00a  846849
4   3   0   0   2   2  00am  846849

In [96]:
token_counts.0

SyntaxError: invalid syntax (<ipython-input-96-27a15a8eb8f0>, line 1)

In [89]:
nb_all.feature_count_[1:]

array([[ 28.,   2.,   0., ...,   0.,   0.,   0.],
       [ 30.,   2.,   0., ...,   0.,   0.,   0.],
       [ 49.,   3.,   1., ...,   1.,   0.,   1.],
       [ 33.,   7.,   0., ...,   0.,   1.,   0.]])

In [ ]:
def compute_ratio(i, df):
    df[i, ]

In [87]:
token_counts['sum'] = np.sum(nb_all.feature_count_[1:])

In [88]:
token_counts.head()

    1   2   3   4   5 token     sum
0  19  28  30  49  33    00  846849
1   5   2   2   3   7   000  846849
2   0   0   0   1   0   007  846849
3   1   0   0   0   0   00a  846849
4   3   0   0   2   2  00am  846849

In [46]:
token_counts['one'] = token_counts.one + 1

In [63]:

nb_all.feature_count_[0, :]

array([ 19.,   5.,   0., ...,   0.,   0.,   0.])

In [58]:
nb_all.feature_count_[1:, :].shape

(4, 25797)

In [54]:
np.sum(nb_all.feature_count_[1:, :])

846849.0

In [53]:
import numpy as np

In [55]:
token_counts['one'] = token_counts.one / np.sum(nb_all.feature_count_[1:, :])

In [64]:
token_counts.sort("one", ascending=False).head()

       five   one token
23029  5735  4310   the
1262   3182  2685   and
23317  2721  2477    to
24893  1972  1517   was
12187  1751  1346    it